body {
  background-color: hsl(204, 43%, 93%);
}

h2 {
  font-family: 'Karla', sans-serif;
  color: hsl(179, 62%, 43%);
  text-align: left;
  padding-left: 30px;
  font-weight: 200px;
}

h3 {
  font-family: 'Karla', sans-serif;
  color: hsl(71, 73%, 54%);
  text-align: left;
  padding-left: 30px;
}

p {
  font-family: 'Karla', sans-serif;
  color: #A7BBC7;
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
  font-weight: 200px;
  padding-right: 40px;
  line-height: 1.5;

}
ul{
  list-style-type: none;
    text-align: left;
}

.top-container {
  background-color: white;
  width: 600px;
  height: 200px;
  position: absolute;
  left: 400px;
  top: 200px;
  border-radius: 8px 8px 0 0;
}

.bottom-right-container {
  background-color: #4CA1A3;
  width: 300px;
  height: 250px;
  position: absolute;
  left: 400px;
  top: 400px;
  border-radius: 0 0 0 8px;
  padding-top: 30px;
}

.bottom-left-container {
  background-color: hsl(179, 62%, 43%);
  width: 300px;
  height: 250px;
  position: absolute;
  left: 700px;
  top: 400px;
  border-radius: 0 0 8px 0;
  padding-top: 30px;
}

.heading1 {
  color: hsl(204, 43%, 93%);
}

.pragraph1 {
  color: #A7BBC7;
  line-height: 1.5;
  padding-right: 70px;
}
.interio{
    padding-bottom: 25px;
}
.price1{
  color:  hsl(179, 62%, 43%);
}


.price {
  font-size: 30px;
  color: white;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 6px;
  font-family: Arial;
  color: white;
  font-size: 16px;
  background: hsl(71, 73%, 54%);
  padding: 15px 85px 15px 80px;
  text-decoration: none;
  margin-left: 30px;
}

.btn:hover {
  text-decoration: none;
}
